<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ConsoleDBApp.Properties.Settings.sacConnectionString" connectionString="Data Source=revenger\sqlexpress;Initial Catalog=sac;Persist Security Info=True;User ID=sa" providerName="System.Data.SqlClient" />
        <add name="ConsoleDBApp.Properties.Settings.qichachaConnectionString" connectionString="Data Source=revenger\sqlexpress;Initial Catalog=qichacha;Persist Security Info=True;User ID=sa" providerName="System.Data.SqlClient" />
        <add name="ConsoleDBApp.Properties.Settings.chuci_licenseConnectionString" connectionString="Data Source=REVENGER\SQLEXPRESS;Initial Catalog=chuci_license;Persist Security Info=True;User ID=sa" providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="HtmlAgilityPack" publicKeyToken="bd319b19eaf3b43a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.6.0" newVersion="1.6.6.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
