<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ConsoleDBApp.Properties.Settings.sacConnectionString"
            connectionString="Data Source=revenger\sqlexpress;Initial Catalog=sac;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="ConsoleDBApp.Properties.Settings.qichachaConnectionString"
            connectionString="Data Source=revenger\sqlexpress;Initial Catalog=qichacha;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
</configuration>
